.UseDetails{
    margin: 90px auto;
    width: 300px;
    height: 200px;
    border-radius: 8px;
    border: 1px solid #95A0A7;
    margin-bottom: 10px;
    text-align: center;
}
.WebUrl{
    color: blue;
}